.gradient-background {
  background: linear-gradient(300deg, #00d4ff, #fdbb2d, #6c0979);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

body {
  background: #eee
}
h1{
  text-align: center;
}
.my-form {
  color: #305896;
}
.my-form .btn-default {
  background-color: #305896;
  color: #fff;
  border-radius: 0;
}
.my-form .btn-default:hover {
  background-color: #4498C6;
  color: #fff;
}
.my-form .form-control {
  border-radius: 0;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}
